# Vite
dist/
dist-ssr/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase
.firebase/
.firestore/

# Environment / secrets
.env
.env.*
.env.*.local

# Build / caches
.cache/
tmp/
*.log
coverage/
*.tsbuildinfo

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.tgz
*.tar.gz
.parcel-cache/
